
<footer>
    
<!-- Pour portables et sm-->
<div class="md:hidden">

    <div class=" bg-transparent  md:hidden pt-2">
        {{ $imageHaut := resources.Get "images/utilities/haut-page.png" }}  
        {{ $imageHome := resources.Get "images/utilities/home.png" }}
        <button class="pl-8"><a href="#" class="no-underline"><figure >
            <img  src="{{ $imageHaut.RelPermalink }}" class=" mx-auto w-4 md:w-6 ">
            <figcaption class="opacity-0 hover:opacity-100 no-underline text-sm : md:text-base">Haut</figcaption>
        </figure>
        </a></button>
        <button><a href="/" class="no-underline"><figure >
            <img  src="{{ $imageHome.RelPermalink }}" class=" mx-auto w-4 md:w-6">
            <figcaption class="opacity-0 hover:opacity-100 no-underline text-sm : md:text-base">Home</figcaption>
        </figure>
        </a></button>
    </div>

</div>

<!-- pour md et plus -->
<div class="grid grid-cols-1 md:divide-y divide-red-400">
    <div></div>
    <div></div> 
</div>
<div class="hidden md:grid md:grid-cols-3 justify-around text-center">

    <a class="inline hover:italic  transform  hover:scale-105 " href="#">Haut</a>
    <a class="inline hover:italic transform  hover:scale-105 " href="/">Accueil</a>
    <a class="inline hover:italic  transform  hover:scale-105 " href="/">Mentions</a>

</div>

<div class="grid grid-cols-1 md:divide-y divide-red-400">
    <div></div>
    <div></div> 
</div>

<div class="py-2 " ></div>

</footer>
